<section class="main-section">
  <div class="container" role="main">
      <div class="row mb-4">
          <div class="col">
            <h3>
              Government Teams
            </h3>
          </div>
          <div class="col-sm-3 d-none d-sm-block">
            <button data-automation-id="button-create-a-team" ng-if="$ctrl.userCanAdd" class="btn btn-primary pull-right" ui-sref="teams.create"
              title="New">
              <i class="fas fa-plus"></i> Create a Team
            </button>
          </div>
        </div>
    <!-- <team-list></team-list> -->
  </div>
</section>
