<section class="main-section bg-secondary">

    <form name="vm.teamForm" warn-on-exit id="vm.teamForm" novalidate autocomplete="off">
      <div class="form bg-light rounded p-0">
  
        <div class="bg-light rounded px-4 py-3 font-weight-bold">
          {{::$ctrl.team.name}}
          <button type="button" class="close float-right" ui-sref="teams.view({ teamId: $ctrl.team._id })" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
  
        <uib-tabset>
          <uib-tab index="0">
            <uib-tab-heading>
              Team Info
            </uib-tab-heading>
            <div ng-include="'/modules/teams/client/views/team-edit-info.html'"></div>
          </uib-tab>
  
          <uib-tab index="1">
            <uib-tab-heading>
              Team Members
            </uib-tab-heading>
            <div ng-include="'/modules/teams/client/views/team-edit-members.html'"></div>
          </uib-tab>
        </uib-tabset>
  
        <div class="bg-light rounded px-3 py-2">
          <div class="row">
            <div class="col">
              <button ng-click="$ctrl.save()" class="btn btn-primary float-right">
                <i class="fas fa-save"></i> Save Changes</button>
              <button class="btn btn-text-only float-left" ng-click="$ctrl.remove()">
                <i class="fas fa-trash"></i> Delete Team</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  